

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #D8D8D8;
}


#wrapper {
	min-height: 100%;
	position: relative;
}

.main {
	width: 1024px;
	margin: 0 auto;
}

.main-text {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 120px;
}


h1 {
	font-size: 28px;
	font-style: bold;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-style: bold;
	
}

h3 {
	font-size: 20px;
	font-style: bold;
	line-height: 150%;
	
}

h4 {
	font-size: 16px;
	font-style: bold;
	
}


p {
	font-size: 18px;
	line-height: 150%;
}

strong {
	font-size: 18px;
	font-style: bold;
}

ul {
	list-style-type: circle;
	list-style-position: inside;
}

ul li {
    padding: 5px;
    font-size: 18px;
    line-height: 180%;
}


ul li ul li {
	padding: 5px 5px 5px 30px;
	list-style-type: disc;
	font-size: 16px;
	line-height: 150%;
}


.code-wrapper {
	width: 950px;
}