
#sirform{
    border: 1px solid #c6c7cc;
    width: 800px;
    background-color: #E5E4E2;
    height: 700px;
    
    padding: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #303030;
}

#sirform span{
	float: left;
	margin-left: 40px;
}

#sirform input{
	float: right;
	margin-right: 100px;
	width: 50px;
}


#sirleft{
    width: 380px;
    float: left;
    height: 140px;
    margin-top: 0px;
    margin-left: 0px;
}

#sirright{
    width: 380px;
    float: right;
    height: 140px;
    margin-top: 0px;
    margin-right: 0px;
}

#sirform input[type=button]{
    float:left;
    margin-left: 40px;
    width: 200px;
}

#chart{
    margin-top: 175px;
}